// SCREEN SIZES
$sizeLgDesktop: 1440px;
$sizeDesktop: 1220px;
$sizeSmDesktop: 1024px;
$sizeTablet: 768px;
$sizeMobile: 480px;

// FONTS
$font-heavy: 'arial-black', serif;
$font-normal: 'arial', sans-serif;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

$font-size-xlarge: 48px;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-xsmall: 12px;
$font-size-xxsmall: 10px;

$font-lineHeight-xlarge: 56px;
$font-lineHeight-large: 42px;
$font-lineHeight-medium: 32px;
$font-lineHeight-small: 28px;
$font-lineHeight-xsmall: 18px;
$font-lineHeight-xxsmall: 16px;
